{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults",
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "createElement"
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
