{
  "extends": "gitbook",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/react-in-jsx-scope": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "webpack/**",
          "**/scripts/**",
          "**/__tests__/**"
        ]
      }
    ]
  }
}
