@art-width: 228px;
@art-height: 341px;

.outer {
  all: initial;
}

.outer *,
.outer *::before,
.outer *::after {
  all: unset;
  box-sizing: border-box;
}

/* Gwent Fonts */
@font-face {
  font-family: Gwent;
  src: url("../../../assets/fonts/hinted-GWENT-ExtraBold.eot")
      format("embedded-opentype"),
    url("../../../assets/fonts/hinted-GWENT-ExtraBold.woff") format("woff"),
    url("../../../assets/fonts/hinted-GWENT-ExtraBold.woff2") format("woff2"),
    url("../../../assets/fonts/hinted-GWENT-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: HalisGR-Regular;
  src: url("../../../assets/fonts/hinted-HalisGR-Regular.eot")
      format("embedded-opentype"),
    url("../../../assets/fonts/hinted-HalisGR-Regular.woff2") format("woff2"),
    url("../../../assets/fonts/hinted-HalisGR-Regular.woff") format("woff"),
    url("../../../assets/fonts/hinted-HalisGR-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.card {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  /* Should not mess with hovering logic */
  pointer-events: none;
}

.artFrame {
  display: block;
  /*
   * height of the image when it's loaded
   * hard coding it here to prevent the tooltip from being resized
   */
  width: @art-width;
  height: @art-height;
  position: relative;
}

.art {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  /* Compensate alpha around the card art */
  background-position: top -13px left -23px;
  background-repeat: no-repeat;
  background-size: auto;
}

.tooltip {
  display: block;
  position: relative;
  width: @art-width;
}

@header-count: 6;

.tooltipHeader {
  display: block;
  height: 72px;
  padding: 15px 10px 0px;

  background-image: url("../../../assets/tooltip-header-sprite.png");
  /* background-size based on amount of assets in the sprite. */
  background-size: (@header-count * 100%);
  background-repeat: no-repeat;

  &[data-card-faction="Neutral"] {
    background-position: 0% center;
  }
  &[data-card-faction="Northern Realms"] {
    background-position: 20% center;
  }
  &[data-card-faction="Scoiatael"] {
    background-position: 40% center;
  }
  &[data-card-faction="Monsters"] {
    background-position: 60% center;
  }
  &[data-card-faction="Skellige"] {
    background-position: 80% center;
  }
  &[data-card-faction="Nilfgaard"] {
    background-position: 100% center;
  }
}

.name {
  display: inline;
  font-family: Gwent, sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@keyword-color: #610a03;

.tooltipInfo {
  display: block;
  font-family: "HalisGR-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #222;
  position: relative;

  strong {
    color: @keyword-color;
  }
}

.tooltipInfoBackground {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;


  &:before {
    display: block;
    content: "";
    z-index: 0;
    flex: 1 1 auto;
    height: 100%;
    background-image: url("../../../assets/tooltip-text-background-repeat.png");
    background-repeat: repeat-y;
    background-size: contain;
  }

  &:after {
    display: block;
    content: "";
    z-index: 1;
    flex: 0 0 auto;
    height: 43px;
    background-image: url("../../../assets/tooltip-text-background-bottom.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
}
