.outer {
  all: initial;
}

.outer *,
.outer *::before,
.outer *::after {
  all: unset;
}

.card,
.card div,
.card img {
  display: block;
}
.card {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  width: 274px;
  /* Should not mess with hovering logic */
  pointer-events: none;
}

.art {
  /* margin-bottom: -27px; */
  /*
   * height of the image when it's loaded
   * hard coding it here to prevent the tooltip from being resized
   */
  width: 274px;
  height: 366px;
  background-image: url(./card-frame.png);
  background-size: 274px 366px;
  background-position: top left;
  background-repeat: no-repeat;
}

.tooltip {
  position: relative;
  overflow: hidden;
}

.name {
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background: -webkit-linear-gradient(#fff, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
}
