@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
Logo colors
- top: #24D180
- bottom: #09484D
 */

body {
    background-color: #232018;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #d2c8bb;
    font-weight: 300;
    line-height: 1.5;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    max-width: 800px;
    padding: 3rem;
}

.logo {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.logo-title {
    width: 80%;
}

.download-link {
    align-self: center;

    background: linear-gradient(to bottom, rgba(36,209,128,1) 0%,rgb(31, 116, 123) 100%);

    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: none;

    color: #fefffe;
    text-decoration: none;
    font-weight: 400;

    margin-bottom: 3rem;
}

.emote {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
}

.avatar {
    height: 100px;
    width: 100px;
    flex: 0 0 auto;
    transform: scale(0.8);
}

.dandelion {
    background: url(./dandelion.png) #313131;
}

.geralt {
    background: url(./geralt.png) #313131;
}

.emote-text {
    font-style: italic;
    width: 400px;
    flex: 0 1 auto;
    margin-left: 3rem;
}

ul {
    list-style-type: circle;
}

a {
    color: rgb(55, 207, 136);
    text-decoration: none;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid;
}

p {
    margin-top: 0;
    margin-bottom: 3rem;
}
